/* Sticky Footer code */
html, body {
	height: 100%;
}

#css_footer_wrap {
	min-height: 100%;
}

#css_footer_body {
	overflow: auto;
	padding-bottom: 150px;
}

#css_footer_footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
}
/* Opera fix */
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

#header {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	border: 1px solid blue;
	height: 30px;
}