
@model PlayWeb.Models.Login.AuthenticateCallbackViewModel

@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoggedIn</h2>
Email: @Model.User.Email.Email1
<br/>
Name: @Model.User.DisplayName
<br/>