<!DOCTYPE html>
<html>
	<head>
		<title>@Page.Title</title>
		@RenderSection("head", required: false)
		<style>
			body {
				background-color: black;
				color: white;
			}
		</style>
	</head>
	<body>
		@RenderBody()
	</body>
</html>
